main {
  background: #f5f6f7;
  font-family: "Nunito Sans", sans-serif;
}

.sidebar {
  width: 250px;
  background: #08014c;
  transition: all linear 0.3s;
}

.active {
  width: 60px;
}

.menubar_parent {
  top: 13px;
  right: -50px;
}

.top_up {
  background: #ff7b1b;
}

.menubar {
  cursor: pointer;
}

.help {
  margin: 0 0 0 -10px;
}

.contain {
  width: calc(100% - 250px);
}

.sidebar ul li {
  cursor: pointer;
}

.sidebar ul li:hover {
  background: #4731d3;
  color: #eba179;
}

header {
  padding: 0 100px;
}

.parent {
  width: 85%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.card {
  width: 220px;
}